#extra-fields-modal {
    position: fixed;
    background: #c8c8c859;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#extra-fields-modal-loader {
    position: absolute;
}
.cx-variable-form p{
    margin-bottom: 0px;
}
.cx-extra-button-1, .cx-extra-button-2{
    width: 100%;
    text-align: left;
}
.cx-extra-button-2{
    
    margin: 10px 0px;
}
.cx-extra-button-span-1, .cx-extra-button-span-2{
    float: right;
}
.cx-extra-item-2-span, .cx-extra-item-1-span{
    float: right;
    right: 10%;
    position: relative;
}
